
html
  head
    title= title
  body
    nav
      h1= page
      ul
        li
          a(href=linkA class='nav-link')= linkA 
        li 
          a(href=linkB class='nav-link')= linkB 
        li 
          a(href=linkC class='nav-link')= linkC

