html
  head
    title= title
  body
    nav
      h1= page
      ul
        li
          a(href=pathA class='nav-link')= pathA 
        li 
          a(href=pathB class='nav-link')= pathB 
        li 
          a(href=pathC class='nav-link')= pathC
  section
    h2= content
    p= method 